pandas
numpy
dvc
mlflow
scikit-learn
python-dotenv
pymysql
seaborn 
matplotlib
catboost
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.2
amqp==5.2.0
aniso8601==9.0.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appdirs==1.4.4
asttokens==2.4.1
asyncssh==2.15.0
atpublic==4.1.0
attrs==23.2.0
backoff==2.2.1
billiard==4.2.0
blinker==1.8.2
boto3==1.34.142
botocore==1.34.142
cachetools==5.3.3
catboost==1.2.5
celery==5.4.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.2
commonmark==0.9.1
configobj==5.0.8
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
dacite==1.6.0
dagshub==0.3.29
dataclasses-json==0.6.7
debugpy==1.8.2
decorator==5.1.1
Deprecated==1.2.14
dictdiffer==0.9.0
# -e git+https://github.com/ayushkum1310/Disease_classification.git@055978427382d00e932d1e0a6d29cb1326070e15#egg=Disease_Prediction
diskcache==5.6.3
distro==1.9.0
dnspython==2.6.1
docker==7.1.0
dpath==2.2.0
dulwich==0.22.1
dvc==3.51.2
dvc-data==3.15.1
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.4.0
email_validator==2.2.0
entrypoints==0.4
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
filelock==3.15.4
Flask==3.0.3
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
funcy==2.0
fusepy==3.0.1
gitdb==4.0.11
GitPython==3.1.43
gql==3.5.0
grandalf==0.8
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.0.3
gto==1.7.1
h11==0.14.0
httpcore==0.16.3
httptools==0.6.1
httpx==0.23.3
hydra-core==1.3.2
idna==3.7
importlib_metadata==7.1.0
ipykernel==6.29.5
ipython==8.26.0
iterative-telemetry==0.0.8
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
kombu==5.3.7
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mlflow==2.14.2
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
omegaconf==2.3.0
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
orjson==3.10.6
packaging==24.1
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
pathvalidate==3.0.0
pillow==10.4.0
platformdirs==3.11.0
plotly==5.22.0
prompt_toolkit==3.0.47
protobuf==4.25.3
psutil==6.0.0
pure-eval==0.2.2
pyarrow==15.0.2
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydot==2.0.0
pygit2==1.15.1
Pygments==2.18.0
pygtrie==2.5.0
PyMySQL==1.1.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1

